a {
   display: block;
   transition: 500ms;
   color: white;
}

a:link {
   text-decoration: none;
}

/* a:visited {
   color: red;
} */

a:hover {
   /* text-decoration: overline; */
   background-color: #d96b43;
   line-height: 1.7;
}

a:active {
   background-color: green;
}
