body {
   font-family: 'Open sans', sans-serif;
   background-color: black;
   background-image: url('../img/dieter.png');
   background-repeat: no-repeat;
   background-attachment: absolute;
   background-position: 50% 100%;
   background-size: cover;
}

h1 {
   font-size: 64px;
   font-weight: 800;
   color: #d96b43;
   margin: 25px 90px 10px;
   text-align: left;
   border: 8px;
   padding: 1px;
   line-height: 1;
}

h2 {
   font-size: 32px;
   font-weight: 600;
   color: #77a6a1;
   margin: 20px 90px;
   text-align: left;
   border: 8px;
   padding: 1px;
   line-height: 1;
}

h3 {
   font-size: 24px;
   font-weight: 400;
   color: white;
   margin: 30px auto 50px 0;
   text-align: left;
   border: 8px;
   padding: 1px;
   line-height: 1.3;
}

nav {
   margin-top: 0;
}

p {
   z-index: auto;
   font-family: 'Open sans', sans-serif;
   color: white;
   line-height: 1.3;
   font-size: 24px;
   font-weight: 300;
   text-align: justify;
   margin: 20px 0 30px;
}

ul {
   list-style-type: lower-greek;
   margin-left: 140px;
   font-size: 16px;
}

div {
   margin: 240px 90px 10px;
   border: 8px;
   padding: 1px;
}

/* img {
   width: 100%;
   margin: 10px 10px 10px 20px;
   padding: 20px;
   height: 250px;
   float: left;
} */

h4 {
   font-family: 'Open sans', sans-serif;
   font-size: 40px;
   font-weight: 400;
   margin: auto;
   color: white;
   background-color: black;
   text-align: center;
   border: 8px;
   padding: 30px 0;
   line-height: 1;
}

span.bold {
   font-weight: 400;
}

#icon {
   z-index: -1;
   position: fixed;
   top: -50%;
   left: -50%;
   max-width: 100%;
   width: 100%;
   height: 100%;
}

#icon img {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   margin: auto;
   min-width: 50%;
   min-height: 20%;
   width: 90vw;
   height: 60vw;
   margin-bottom: 40px;
}

#caption {
   text-align: center;
   font-size: 120px;
   font-weight: 900;
   margin: 0;
   color: #99bfa3;
   border: 0;
   padding: 0;
   line-height: 1;
}
